body{
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:#b4c7f2;
}
.calculator{
	background-color: white;
	border-radius:5px;
	text-align:center;
	width:500px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button{
	color:white;
	background-color:#50648f;
}
